.main_paper_div {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.block_name_and_delete {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.add_item_form {
    margin: 20px 50px;
}

.tasks_block {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .main_paper_div {
        width: 100%;
    }
    .add_item_form {
        margin: 10px;
    }
}